{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Mist{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style-xlarge.css' %}" />
    <style type="text/css">

      #header {
        background-color: #bcbdbf;
        line-height: 0;
      }

      #header img {
        border-left-radius: 10px;
      }

      #content {
        padding: 15px;
      }

    </style>
    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}
    {% spaceless %}
    <div id="header">
      <img src="{% static 'images/mist-logo-small.png' %}" />
    </div>
    {% endspaceless %}
    <div id="content">
      {% block content %}
      <h1>It's just a vapor ...</h1>
      <p>
        This page is currently under construction.
      </p>
      {% endblock %}
    </div>
    {% endblock %}
  </body>
</html>
